{
    92 : Note(Pad0x7),
    93 : Note(Pad1x7),
    94 : Note(Pad2x7),
    95 : Note(Pad3x7),
    96 : Note(Pad4x7),
    97 : Note(Pad5x7),
    98 : Note(Pad6x7),
    99 : Note(Pad7x7),
    84 : Note(Pad0x6),
    85 : Note(Pad1x6),
    86 : Note(Pad2x6),
    87 : Note(Pad3x6),
    88 : Note(Pad4x6),
    89 : Note(Pad5x6),
    90 : Note(Pad6x6),
    91 : Note(Pad7x6),
    76 : Note(Pad0x5),
    77 : Note(Pad1x5),
    78 : Note(Pad2x5),
    79 : Note(Pad3x5),
    80 : Note(Pad4x5),
    81 : Note(Pad5x5),
    82 : Note(Pad6x5),
    83 : Note(Pad7x5),
    68 : Note(Pad0x4),
    69 : Note(Pad1x4),
    70 : Note(Pad2x4),
    71 : Note(Pad3x4),
    72 : Note(Pad4x4),
    73 : Note(Pad5x4),
    74 : Note(Pad6x4),
    75 : Note(Pad7x4),
    60 : Note(Pad0x3),
    61 : Note(Pad1x3),
    62 : Note(Pad2x3),
    63 : Note(Pad3x3),
    64 : Note(Pad4x3),
    65 : Note(Pad5x3),
    66 : Note(Pad6x3),
    67 : Note(Pad7x3),
    52 : Note(Pad0x2),
    53 : Note(Pad1x2),
    54 : Note(Pad2x2),
    55 : Note(Pad3x2),
    56 : Note(Pad4x2),
    57 : Note(Pad5x2),
    58 : Note(Pad6x2),
    59 : Note(Pad7x2),
    44 : Note(Pad0x1),
    45 : Note(Pad1x1),
    46 : Note(Pad2x1),
    47 : Note(Pad3x1),
    48 : Note(Pad4x1),
    49 : Note(Pad5x1),
    50 : Note(Pad6x1),
    51 : Note(Pad7x1),
    36 : Note(Pad0x0),
    37 : Note(Pad1x0),
    38 : Note(Pad2x0),
    39 : Note(Pad3x0),
    40 : Note(Pad4x0),
    41 : Note(Pad5x0),
    42 : Note(Pad6x0),
    43 : Note(Pad7x0),
    29 : ControlChange(Control29),
    20 : ControlChange(Control20),
    21 : ControlChange(Control21),
    24 : ControlChange(Control24),
    25 : ControlChange(Control25),
    14 : Encoder(Control14),
    15 : Encoder(Control15), 
    71 : Encoder(Control71),
    72 : Encoder(Control72),
    73 : Encoder(Control73),
    74 : Encoder(Control74),
    75 : Encoder(Control75),
    76 : Encoder(Control76),
    77 : Encoder(Control77),
    78 : Encoder(Control78),
    78 : Encoder(Control79),
}